@model Category

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-primary">Edit Category</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post">
            <div class="border p-3 m-4">
                <div class="row pb-2">
                </div>

                @* <label asp-for="Id" hidden/> *@

                <div class="mb-3 p-1">
                    <label asp-for="Name" class="p-0">
                    </label>
                    <input asp-for="Name" type="text" class="form-control" id="CatName" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3 p-1">
                    <label asp-for="DisplayOrder" class="p-0" for="order">
                    </label>
                    <input asp-for="DisplayOrder" type="number" class="form-control" id="order" />
                    <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-6">
                        <button class="btn btn-primary text-center" style="width:95%" type="submit">Update</button>
                    </div>
                    <div class="col-6">
                        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:95%; background-color:#2097e6">
                            Back to List
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}